<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <title>
        Globalni projekti
    </title>

    <style>
            /* note: this is a hack for ios iframe for bootstrap themes shopify page */
            /* this chunk of css is not part of the toolkit :) */
            /* …curses ios, etc… */
        @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {


            #fullName {
                font-size: 1.3rem;
                margin-top: 1rem;
                margin-left: 1.5rem;

            }
            #logoutButton {
                font-size: 0.7rem;
                margin-top: 0.3rem;
            }

            #welcomeText {
                font-size: 1rem
            }

            .greenText {

                font-size: 1.3rem;
                font-weight: 300;
                color: #2ecc71

            }

            #scoreBoard {
                font-size: 1.5rem;
                font-weight: 300;
                color: #2ecc71
            }

            .answersStyle {
                margin-left: 1rem;
                font-size: 1rem;
            }


            #customRadios {
                padding-top: 3rem
            }

            #questionBlock {
                padding-top: 1.5rem;
                font-size: 1.3rem;
            }

            #explanationAnswer {
                font-size: 1rem;
                margin: 10px;
            }

            #secondPartQuizText{
                text-align: center;
                font-size: 1rem
            }

            #secondSection{
                padding-top: 2rem
            }

            #secondPartButton {
                font-size: 1rem;
                margin: 4rem;
            }

            #btnNextQuestion {
                border: 0.5px solid gray;
                justify-content: flex-end;
                background-color: #f8f9fa;
                color: #2ecc71;
                box-shadow: 0 0 4px 0px black;
            }

            #btnCheckAnswer {
                border: 0.5px solid gray;
                justify-content: flex-end;
                background-color: #f8f9fa;
                color: #2ecc71;
                box-shadow: 0 0 4px 0px black;
                margin-top: 0.3rem;
            }

            #scoreMain {
                color: #2ecc71;
                box-shadow: 0 0 5px 0px black;
                height: 50px;
                border: 0.5px solid gray;
            }

        }
            @media (min-width: 768px) {

                #fullName {
                    margin-left: 2rem;
                    margin-top: 1rem;
                }
                #logoutButton {
                    margin-left: 6rem;
                    margin-top: 0.5rem;
                }

                #welcomeText {
                    font-size: 1.3rem
                }

                .greenText {
                    font-size: 2rem;
                    font-weight: 300;
                    color: #2ecc71
                }

                #scoreBoard {
                    font-size: 2rem;
                    font-weight: 300;
                    color: #2ecc71
                }
                .vl {
                    border-left: 0.5px solid gray;
                    height: 50px;
                }
                .answersStyle {
                    margin-left: -1.5rem;
                    font-size: 1.3rem;
                }

                #customRadios {
                    padding-top: 5rem
                }

                #questionBlock {
                    padding-top: 5rem;
                    font-size: 1.5rem;
                }

                #explanationAnswer {
                    padding: 1rem;
                    font-size: 1.3rem;
                }

                #secondPartQuizText {
                    font-weight: bold;
                    text-align: center;
                    font-size: 2rem
                }

                #secondSection {
                    padding-top: 10rem
                }

                #btnNextQuestion {
                    border: 0.5px solid gray;
                    justify-content: flex-end;
                    background-color: #f8f9fa;
                    color: #2ecc71;
                    box-shadow: 0 0 4px 0px black;
                }

                #btnCheckAnswer {
                    border: 0.5px solid gray;
                    justify-content: flex-end;
                    background-color: #f8f9fa;
                    color: #2ecc71;
                    box-shadow: 0 0 4px 0px black;
                    font-size: 1.3rem;
                }

                #scoreMain {
                    color: #2ecc71;
                    box-shadow: 0 0 5px 0px black;
                    height: 50px;
                    border: 0.5px solid gray;;
                }

            }



            .custom-radios div {
                display: flex;
                align-items: center;
            }

            .custom-radios input[type="radio"] {
                display: none;
            }

            .custom-radios input[type="radio"] + label {
                color: #333;
                font-family: Arial, sans-serif;
                font-size: 14px;
            }

            .custom-radios input[type="radio"] + label span {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: -1px 4px 0 0;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 50%;
                border: 2px solid #FFFFFF;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                line-height: 44px;
            }

            .custom-radios input[type="radio"] + label span img {
                opacity: 0;
                transition: all .3s ease;
            }

            .custom-radios input[type="radio"]#color-1 + label span {
                background-color: #2ecc71;
            }

            .custom-radios input[type="radio"]#color-2 + label span {
                background-color: #3498db;
            }

            .custom-radios input[type="radio"]#color-3 + label span {
                background-color: #f1c40f;
            }

            .custom-radios input[type="radio"]#color-4 + label span {
                background-color: #e74c3c;
            }

            .custom-radios input[type="radio"]:checked + label span img {
                opacity: 1;
            }

            .focus-in-expand {
                -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

            /* ----------------------------------------------
             * Generated by Animista on 2020-1-13 21:47:53
             * Licensed under FreeBSD License.
             * See http://animista.net/license for more info.
             * w: http://animista.net, t: @cssanimista
             * ---------------------------------------------- */
            /**
             * ----------------------------------------
             * animation focus-in-expand
             * ----------------------------------------
             */
            @-webkit-keyframes focus-in-expand {
                0% {
                    letter-spacing: -0.5em;
                    -webkit-filter: blur(12px);
                    filter: blur(12px);
                    opacity: 0;
                }
                100% {
                    -webkit-filter: blur(0px);
                    filter: blur(0px);
                    opacity: 1;
                }
            }
            @keyframes focus-in-expand {
                0% {
                    letter-spacing: -0.5em;
                    -webkit-filter: blur(12px);
                    filter: blur(12px);
                    opacity: 0;
                }
                100% {
                    -webkit-filter: blur(0px);
                    filter: blur(0px);
                    opacity: 1;
                }
            }

            .heartbeat {
                -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
                animation: heartbeat 1.5s ease-in-out infinite both;
            }

            /* ----------------------------------------------
     * Generated by Animista on 2020-1-14 0:7:42
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info.
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
            /**
             * ----------------------------------------
             * animation heartbeat
             * ----------------------------------------
             */
            @-webkit-keyframes heartbeat {
                from {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transform-origin: center center;
                    transform-origin: center center;
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                10% {
                    -webkit-transform: scale(0.91);
                    transform: scale(0.91);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                17% {
                    -webkit-transform: scale(0.98);
                    transform: scale(0.98);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                33% {
                    -webkit-transform: scale(0.87);
                    transform: scale(0.87);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                45% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
            }
            @keyframes heartbeat {
                from {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transform-origin: center center;
                    transform-origin: center center;
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                10% {
                    -webkit-transform: scale(0.91);
                    transform: scale(0.91);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                17% {
                    -webkit-transform: scale(0.98);
                    transform: scale(0.98);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                33% {
                    -webkit-transform: scale(0.87);
                    transform: scale(0.87);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                45% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
            }

            .roll-in-left {
                -webkit-animation: roll-in-left 1s ease-out both;
                animation: roll-in-left 1s ease-out both;
            }

            /* ----------------------------------------------
     * Generated by Animista on 2020-1-14 0:14:16
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info.
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
            /**
             * ----------------------------------------
             * animation roll-in-left
             * ----------------------------------------
             */
            @-webkit-keyframes roll-in-left {
                0% {
                    -webkit-transform: translateX(-800px) rotate(-540deg);
                    transform: translateX(-800px) rotate(-540deg);
                    opacity: 0;
                }
                100% {
                    -webkit-transform: translateX(0) rotate(0deg);
                    transform: translateX(0) rotate(0deg);
                    opacity: 1;
                }
            }
            @keyframes roll-in-left {
                0% {
                    -webkit-transform: translateX(-800px) rotate(-540deg);
                    transform: translateX(-800px) rotate(-540deg);
                    opacity: 0;
                }
                100% {
                    -webkit-transform: translateX(0) rotate(0deg);
                    transform: translateX(0) rotate(0deg);
                    opacity: 1;
                }
            }

            body {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
            }


    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script type="text/javascript">

        var i = 0
        var counter = 1
        var checkAnswerControl = 0
        var switchVar = 0

        $(document).ready(() => {

            jQuery('#questionBlock').hide()
            jQuery('#answersBlock').hide()
            $('#checkAnswerAlert').hide()
            $('#finalSection').hide()
            $(".zapocni").show()
            $("#crta").hide()
            $("#secondSection").hide()
            $("#scenario").hide()
            counter = 1

            $.ajax({
                type: 'POST',
                data: JSON.stringify( { "userId":"<%=user._id%>"}),
                contentType: 'application/json',
                url: 'http://localhost:3000/resetScore',
                success: function(result) {
                    $('#score').html(result).css("font-size", "2rem");
                }

            });
        })

        function logout() {

            console.log("usao");

            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: 'http://localhost:3000/logout',
                success: function(result) {
                }
            });

        }


        function startQuiz(id) {
            console.log(i)
            var userId = id;
            console.log(userId);
            // data.Id = userId;
            jQuery('#start').hide()
            jQuery('#questionBlock').show()
            jQuery('#answersBlock').show()
            $('#checkAnswerAlert').hide()
            $(".zapocni").hide()
            $("#crta").show()
            $("#uvod").hide()

            if(id == 2){
                $("#scenario").show()
                $("#secondSection").hide()

            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify({ "userId":userId, "counter" : i }),
                contentType: 'application/json',
                url: 'http://localhost:3000/quiz',
                success: function(result) {
                    console.log()
                    $('#question').html(result.result.questionText).addClass("focus-in-expand")
                    $('#answerOne').html(result.result.answers[0].answerText).addClass("focus-in-expand")
                    $('#answerTwo').html(result.result.answers[1].answerText).addClass("focus-in-expand")
                    $('#answerThree').html(result.result.answers[2].answerText).addClass("focus-in-expand")
                }
            });

        }

        function checkAnswer() {

            checkAnswerControl = 1
            $('#checkAnswerAlert').hide()
            $('#btnCheckAnswer').removeClass("heartbeat");
            $('#btnNextQuestion').addClass("heartbeat");

            answerId =
                $('input[name=answer]:checked',
                    '#answersBlock').val();

            $.ajax({
                type: 'POST',
                data: JSON.stringify({ "userId":"<%=user._id%>", "counter" : i }),
                contentType: 'application/json',
                url: 'http://localhost:3000/quiz',
                success: function(result) {
                    let questionId = result.result._id;
                    console.log("answerId " + answerId);
                    let explanation = result.result.questionExplanation

                    let answerScore = result.result.answers[answerId-1].answerResult; //asnwerId uvijek ide od 1 do 3

                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify({ "questionId": questionId, "answerId" : answerId }),
                        contentType: 'application/json',
                        url: 'http://localhost:3000/checkAnswer',
                        success: function(result) {
                            console.log(result)
                            $('#questionExplanationShow').html("Vaš odogovor Vam donosi : " + result.bold() +" bodova!" + "\n Pitisnite > za iduće pitanje").show().addClass("focus-in-expand")
                            console.log("test" + result.result)
                            $('#nextQuestion').html(explanation).show().addClass("focus-in-expand")
                        }
                    })
                    console.log("counter" + counter)
                    if(counter) {
                        console.log("usao" + counter)
                        $.ajax({
                            type: 'POST',
                            data: JSON.stringify( { "userId":"<%=user._id%>", "answerScore" : answerScore }),
                            contentType: 'application/json',
                            url: 'http://localhost:3000/updateScore',
                            success: function(result) {
                                console.log("result of number" + result)
                                $('#score').html(result).addClass("focus-in-expand").css("font-size", "2rem", "color", "green");
                                counter = 0;
                            }
                        });

                    }

                }
            });




        }


        function nextQuestion() {

            console.log("SwitchVar" + switchVar)

            $('#question').removeClass("focus-in-expand");
            $('#answerOne').removeClass("focus-in-expand");
            $('#answerTwo').removeClass("focus-in-expand");
            $('#answerThree').removeClass("focus-in-expand");
            $('#btnNextQuestion').removeClass("heartbeat");
            $('#btnCheckAnswer').addClass("heartbeat");
            $('#scenario').hide()

            answerId =
                $('input[name=answer]:checked',
                    '#answersBlock').val();

            $('#questionExplanationShow').hide()
            $('#nextQuestion').hide()

            if(checkAnswerControl) {
                imageUrl = "/images/bg-15.jpg"

                checkAnswerControl = 0
                i++
                console.log(i);
                counter = 1

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({ "userId":"<%=user._id%>", "counter" : i }),
                    contentType: 'application/json',
                    url: 'http://localhost:3000/quiz',
                    success: function(result) {

                        console.log("result" + result.result);

                        if(switchVar == 1) {

                            switchVar = 0;
                            $('#questionBlock').hide()
                            $('#answersBlock').hide()
                            $('#scenario').hide()
                            $('#secondSection').show()
                            $.ajax({
                                type: 'POST',
                                data: JSON.stringify( { "userId":"<%=user._id%>" }),
                                contentType: 'application/json',
                                url: 'http://localhost:3000/checkScore',
                                success: function(result) {
                                    console.log("result of number" + result)
                                    $('.finalScore').html(result).addClass("focus-in-expand");
                                }
                            });

                        }

                        else if (switchVar == 2) {
                            console.log("usao");
                            $('#scenario').show()
                            $('#secondSection').hide()
                            $('#question').html(result.result.questionText).addClass("focus-in-expand");
                            $('#answerOne').html(result.result.answers[0].answerText).addClass("focus-in-expand");
                            $('#answerTwo').html(result.result.answers[1].answerText).addClass("focus-in-expand");
                            $('#answerThree').html(result.result.answers[2].answerText).addClass("focus-in-expand");
                        }
                        else if(result.result !== undefined) {
                            if(result.result.switchToSecondPart === "True"){
                                $('#question').html(result.result.questionText).addClass("focus-in-expand");
                                $('#answerOne').html(result.result.answers[0].answerText).addClass("focus-in-expand");
                                $('#answerTwo').html(result.result.answers[1].answerText).addClass("focus-in-expand");
                                $('#answerThree').html(result.result.answers[2].answerText).addClass("focus-in-expand");
                                switchVar = 1
                            } else {
                                console.log("result" + result)
                                $('#question').html(result.result.questionText).addClass("focus-in-expand");
                                $('#answerOne').html(result.result.answers[0].answerText).addClass("focus-in-expand");
                                $('#answerTwo').html(result.result.answers[1].answerText).addClass("focus-in-expand");
                                $('#answerThree').html(result.result.answers[2].answerText).addClass("focus-in-expand");
                            }

                        }
                        else {
                            $('#questionBlock').hide()
                            $('#answersBlock').hide()
                            $('#finalSection').show()
                            $('body').css("background-image", "url(" + imageUrl + ")")
                            $.ajax({
                                type: 'POST',
                                data: JSON.stringify( { "userId":"<%=user._id%>" }),
                                contentType: 'application/json',
                                url: 'http://localhost:3000/checkScore',
                                success: function(result) {
                                    console.log("result of number" + result)
                                    result = 150
                                    $('.finalScore').html(result).addClass("focus-in-expand");
                                    $('#rezDesc1').html("Ostvarili ste odličan rezultat!").addClass("focus-in-expand");
                                    $('#rezDesc2').html("Bravo! Vi imate izvrsno znanje o globalnim projektima!").addClass("focus-in-expand");

                                }
                            });
                        }

                    }


                });

            } else {
                $('#checkAnswerAlert').html("Hej! Prvo projveri odgovor pa odi na sljedeci :)").show()
            }





        }


    </script>



</head>

<body>

<% include header.ejs %>

<!--ako zelis da se makne prvi tekst upisi samo id="start"-->
<div class="container-fluid" id="start" >
    <div class="row">
        <div class="col-9">
            <h4 id="fullName"><%=user.fullName%></h4>
        </div>
        <div class="col-3">
            <a href="/logout" id="logoutButton" class="btn btn-success waves-effect waves-light btn-lg text-focus-in">Odjava</a>
        </div>
    </div>

    <div class="row uvod" style="padding: 1.5rem">
        <div class="col-md-12">
            <p id="welcomeText">
                Dobro došli u edukacijsku igru kojoj je cilj <span class="greenText">upoznavanje sa specifičnostima vođenja globalnih projekata</span>. Globalni projekti sve su češći u današnjem svijetu poslovanja i tehnologije te uglavnom predstavljaju projekte od strateške važnosti za kompaniju. Kao takvi, zahtijevaju stručno vođenje i pristup koji se razlikuje od pristupa u standardnim projektima.
                U globalnim projektima postoje izazovi i rizici koji nisu uobičajeni u uobičajenim ne-globalnim projektima. Izazovi i mogući rizici biti će približeni kroz ovu igru. Igra se sastoji od dva dijela, prvi dio odnosi se na <span class="greenText" >globalne projekte</span> dok se u drugom dijelu prolazi kroz <span class="greenText">studijski primjer globalnog projekta</span>.
            </p>
        </div>
    </div>

    <div class="row uvod" style="padding-left: 1.5rem">
        <div class="col-md-12">
            <p id="welcomeText">
                Svako pitanje ima tri ponuđena odgovora od kojih <span class="greenText">samo jedan odgovor</span> nosi maksimalan broj bodova. Maksimalan broj bodova koji možete ostvariti za točan odgovor je <span class="greenText">10</span>. Druga dva odgovora nose parcijalni broj bodova ili nula bodova ako ste odabrali odgovor koji je skroz netočan.
            </p>
        </div>
    </div>
    <div class="row uvod" style="padding-left: 1.5rem">
        <div class="col-md-12">
            <p id="welcomeText">
                Kako bi provjerili Vaše znanje o globalnim projektima, započnite kratki edukacijski kviz. Kviz se sastoji od <span class="greenText">7</span> pitanja.
            </p>
        </div>
    </div>

    <div class="row uvod" style="padding-left: 1.5rem">
        <div class="col-md-3"> </div>
        <div class="col-md-6" style="text-align: center">
            <span id="scoreBoard">Bodovni pragovi: </span>
            <table class="table" style="margin-top: 1.3rem">
                <thead>
                <tr>
                    <th scope="col">Ocjena</th>
                    <th scope="col">Bodovni prag</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" style="font-size: 1.5rem; font-weight: 300; color: #2ecc71">5</th>
                    <td style="font-size: 1.5rem; font-weight: 300; color: #2ecc71">140 - 160</td>
                </tr>
                <tr>
                    <th scope="row" style="font-size: 1.5rem; font-weight: 300; color: #2ecc71">4</th>
                    <td style="font-size: 1.5rem; font-weight: 300; color: #2ecc71">120 - 139</td>
                </tr>
                <tr>
                    <th scope="row" style="font-size: 1.5rem; font-weight: 300; color: #2ecc71">3</th>
                    <td style="font-size: 1.5rem; font-weight: 300; color: #2ecc71">100 - 119</td>
                </tr>
                <tr>
                    <th scope="row" style="font-size: 1.5rem; font-weight: 300; color: #2ecc71">2</th>
                    <td style="font-size: 1.5rem; font-weight: 300; color: #2ecc71">80 - 99</td>
                </tr>
                <tr>
                    <th scope="row" style="font-size: 1.5rem; font-weight: 300; color: darkred">1</th>
                    <td style="font-size: 1.5rem; font-weight: 300; color: darkred">< 80</td>
                </tr>
                <tr>
                    <th scope="row" style="font-size: 1.5rem; font-weight: 300; color: darkred"></th>
                    <td style="font-size: 1.5rem; font-weight: 300; color: red"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3"> </div>
    </div>

</div>

<div class="container" id="scenario">
    <div class="row" style="padding-top: 1.5rem">
        <div class="col-md-12" style="text-align: left">
            <p style="font-size: 1.3rem">Dobro došli u virtualni svijet globalnih projekata. U njemu Vam je, nakon što ste zadnje dvije godine u kompaniji uspješno završili pet projekata, dodijeljen projekt strateške važnosti za kompaniju. Postavljeni ste kao projektni menadžer na projektu akvizicije kompanije Gloobeex.
                Akvizicija je proces kupovine kompanije u kojem jedna kompanija, preuzimatelj, postaje vlasnikom druge kompanije te time nastaje spajanje dviju poslovnih jedinica u jednu.
                Vaša kompanija UpWord Coorporation koja se nalazi u Velikoj Britaniji kupila kompaniju Gloobeex koja se nalazi u Americi. Vrijednost akvizicije je 40 miliona američkih dolara te planirano trajanje projekta 6 mjeseci.
                Kompanija UpWord Coorporation osnovana 2008. godine razvija komunikacijsku platformu te je koristi u svrhu pružanja komunikacijskih usluga bankama, e-trgovinama, logističkim kompanijama ili bilo kojoj drugoj kompaniji koja želi ostvariti komunikaciju sa svojim krajnjim korisnicima preko SMS-a, Whatsappa, Vibera ili bilo kojeg drugog javno dostupnog komunikacijskog kanala.
                Kroz svoje postojanje kompanija UpWord Coorporation ostvarila se kao globalni lider u svijetu telekomunikacija i pružanju komunikacijskih usluga, iako je svoje poslovanje zasnivala na azijskom, europskom i pretežito afričkom tržištu. Tijekom postavljanja ciljeva za narednu godinu kompanija UpWord Coorporation utvrdila je potrebu proširiti svoje poslovanje na američko tržište. To tržište zahtijeva potpuno drugačiji pristup. Detaljnom analizom američkog tržišta, kompanija UpWord Coorporation utvrdila je da je najbolji pristup za proboj na američko tržište akvizicija kompanije koja je stabilna i iskusna na tom tržištu te samim time donosi određenu prednost nad drugom opcijom. Druga opcija bila je zapošljavanje resursa unutar lokalnog prodajnog tima u američkom uredu, potraga i dogovoranje poslova sa klijentima preko lokalnog prodajnog tima. Lokalni prodajni tim u američkom uredu pokrenuo je komunikaciju s Gloobeex-om i dogovorio komercijalne uvjete akvizicije.  U budućnosti UpWord Coorporaition planira u svoju ponudu uključiti i nadolazeću uslugu na tržištu, RCS (engl. Rich Communication Services).
                Kompanija Gloobeex vodeća je komunikacijska platforma za pružanje isključivo SMS A2P (engl. Application-to-person) usluge u USA-u. Razlikujemo SMS P2P (engl. Person-to-Person/Peer-to-Peer) koji označava komunikaciju između dvije osobe odnosno dva mobitela dok SMS A2P označava slanje poruke sustava na mobitel osobe. Primjer A2P SMS-a je primanje registracijskih pin-ova tijekom registracije na usluge poput Ubera, Facebook-a i drugih.
            </p>
        </div>
    </div>
    <hr>
</div>



<div class="container zapocni" style="padding-top: 1.5rem; padding-bottom: 1.5rem">
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <button type="button" id="<%=user._id%>" onclick="startQuiz(this.id)" class="btn btn-success waves-effect waves-light btn-lg text-focus-in">Pokreni edukacijsku igru<i class=" fi-check"></i></button>
        </div>
    </div>
</div>




<div class="container" id="questionBlock">
    <div class="row">
        <div class="col-10">
            <span style="text-align: center" id="question">
            </span>
        </div>
        <div class="col-2" id="scoreMain" style="text-align: center">
            <span style="text-align: center; text-shadow: 0 0 2px black;" id="score">
            </span>
        </div>
    </div>
</div>

<div class="container" id="answersBlock">
    <div class="custom-radios" id="customRadios">
        <div class="row">
            <div class="col-1">
                <input type="radio" id="color-1" name="answer" value="1" checked>
                <label for="color-1">
      <span>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
      </span>
                </label>
            </div>
            <div class="col-10">
                <label id="answerOne" class="answersStyle"></label>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-1">
                <input type="radio" id="color-2" name="answer" value="2">
                <label for="color-2">
      <span>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
      </span>
                </label>
            </div>
            <div class="col-10">
                <label id="answerTwo" class="answersStyle"></label>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-1">
                <input type="radio"  id="color-3" name="answer" value="3">
                <label for="color-3">
      <span>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
      </span>
                </label>
            </div>
            <div class="col-10">
                <label id="answerThree" class="answersStyle"></label>
            </div>

        </div>

        <hr>

    </div>

    <div class="container" id="explanationAnswer">
        <div class="row">
            <label id="questionExplanationShow"></label>
        </div>
        <div class="row">
            <label id="nextQuestion"></label>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-10">
                <button type="button" id="btnCheckAnswer" onclick="checkAnswer()" style="border: 0.5px solid gray" class="btn heartbeat">Projveri točnost odgovora</button>
            </div>

            <div class="col-2">
                <label id="checkAnswerAlert"></label>
                <button type="button" id="btnNextQuestion" onclick="nextQuestion()" class="btn"><i class="material-icons">
                        navigate_next
                    </i></button>
            </div>
        </div>
    </div>

</div>

<div class="container" id="secondSection">
    <div class="row">
        <div class="col-12" style="text-align: center">
            <p id="secondPartQuizText">Riješili ste kviz o globalnim projektima općenito.
                Provjerite svoje znanje na studijskom primjeru projekta! Pritisnite Postani projektni menadžer kako biste započeli sljedeću igru.
            </p>
            <button id="secondPartButton" style="align-content: center" type="button"  onclick="startQuiz(2)" class="btn btn-success waves-effect waves-light btn-lg text-focus-in">Postani projektni menadžer<i class=" fi-check"></i></button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p style="font-weight: bold; text-align: center; font-size: 2rem">Vaš trenutni broj bodova: </p>
            <h1 style="text-align: center" class="finalScore"> </h1>
        </div>
    </div>
</div>


<div class="container" id="finalSection">
    <div class="row" style="padding-top: 10rem">
        <div class="col-12" style="text-align: center">
            <p style="font-weight: bold; text-align: center; font-size: 2rem">Odigrali ste edukacijsku igru o specifičnostima globalnih projekata!
                Čestitamo!
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <p style="font-weight: bold; text-align: center; font-size: 2rem">Vaš ostvareni rezultat je sljedeći: </p>
            <h1 style="text-align: center" class="finalScore"> </h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p style="font-weight: bold; text-align: center; font-size: 2rem" id="rezDesc1"></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p style="font-weight: bold; text-align: center; font-size: 2rem" id="rezDesc2"></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12" style="text-align: center; margin-top: 2rem">
            <button style="align-content: center" type="button"  onclick="startQuiz(0)" class="btn btn-success waves-effect waves-light btn-lg text-focus-in">Zaigraj ponovno<i class=" fi-check"></i></button>
        </div>
    </div>
</div>



<!--<a href="/logout" id="logOutBtn" class="btn btn-warning btn-lg">Logout</a>-->

</body>

</html>
